<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>
	<div class="wrapper">
		<% include header.ejs %>
		<!--Slider Area Start-->
		<div class="slider-area pl-50 pr-50" id="adboxId">

			<div class="hero-slider owl-carousel">
				<% for(let i=0,data=JSON.parse(websiteInfo[0].adinfo),len=data.length;i<len;i++){ %>
				<div class="single-slider single-slider-style-2" style="background-image: url(<%=data[i].pic%>)">
					<div class="container">
						<div class="hero-slider-content">
							<h1><%=data[i].title%></h1>
							<p><%=data[i].info%></p>
							<div class="slider-btn">
								<a href="<%=data[i].href%>">查看详情 <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>

		</div>
		<!--Slider Area End-->
		<!--Feature Area Start-->
		<div class="feature-area mt-120">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-cart"></span>
		                    </div>
		                    <div class="feature-content">
								<a href="/goods">
									<h3>商品展示</h3>
									<p>ALL GOODS EXHIBITION</p>
								</a>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-map"></span>
		                    </div>
		                    <div class="feature-content">
								<a href="/product">
									<h3>案例展示</h3>
									<p>ALL CASE EXHIBITION</p>
								</a>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-phone"></span>
		                    </div>
		                    <div class="feature-content">
								<a href="/about">
									<h3>联系我们</h3>
									<p>CONTACT US</p>
								</a>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Feature Area End-->
		<!--Our History Area Start-->
		<div class="our-history-area mt-85">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <h2>品牌介绍</h2>
		                    <span>Brand introduction</span>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="col-lg-8 ml-auto mr-auto">
		                <div class="history-area-content text-center">
		                    <p><strong><%=JSON.parse(websiteInfo[0].brand).brandInfo%></strong></p>
		                    <p><%=JSON.parse(websiteInfo[0].brand).goodsInfo%></p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Our History Area End-->
		<!--Categories Area Start-->
		<div class="categories-area mt-115">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>commodity classification</span>
		                    <h3>商品分类</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		    </div>
		    <div class="container-fluid pl-50 pr-50">
		        <div class="row">
		            <div class="cat-1 col-md-4">
		                <div class="categories-img img-full mb-30">
		                    <a href="/goods?page=1&sid=<%=classify[0].id%>"><img src="/layout/img/category/home1-category-1.jpg" alt=""></a>
		                    <div class="categories-content">
		                        <h3><%=classify[0].sname%></h3>
		                        <h4>more+</h4>
		                    </div>
		                </div>
		            </div>
		            <div class="cat-2 col-md-8">
		                <div class="row">
		                    <div class="cat-3 col-md-7">
                                <div class="categories-img img-full mb-30">
                                    <a href="/goods?page=1&sid=<%=classify[1].id%>"><img src="/layout/img/category/home1-category-2.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3><%=classify[1].sname%></h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-4 col-md-5">
                                <div class="categories-img img-full mb-30">
                                    <a href="/goods?page=1&sid=<%=classify[2].id%>"><img src="/layout/img/category/home1-category-3.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3><%=classify[2].sname%></h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-5 col-md-4">
                                <div class="categories-img img-full mb-30">
                                    <a href="/goods?page=1&sid=<%=classify[3].id%>"><img src="/layout/img/category/home1-category-4.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3><%=classify[3].sname%></h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-6 col-md-8">
                                <div class="categories-img img-full mb-30">
                                    <a href="/goods?page=1&sid=<%=classify[4].id%>"><img src="/layout/img/category/home1-category-5.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3><%=classify[4].sname%></h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Categories Area End-->
		<!--Product Area Start-->
		<div class="product-area mt-85">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>Hot goods</span>
		                    <h3>热门商品</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
						<% for(let i=0,len=heatGoods.length;i<len;i++){ %>
						<div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
							<!--Single Product Start-->
							<div class="single-product mb-25">
								<div class="product-img img-full">
									<a href="/goodsDetail?id=<%=heatGoods[i].id%>">
										<!--<img src="/layout/img/product/product1.jpg" alt="">-->
										<img src="<%=heatGoods[i].goods_pic.split(',')[0]%>" alt="热门商品">
									</a>
									<span class="onsale">Sale!</span>
									<!--<div class="product-action">
										<ul>
											<li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
											<li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
											<li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
										</ul>
									</div>-->
								</div>
								<div class="product-content">
									<h2><a href="/goodsDetail?id=<%=heatGoods[i].id%>"><%=heatGoods[i].goods_name%></a></h2>
									<div class="product-price">
										<div class="price-box">
											<span class="regular-price">hot goods</span>
										</div>
										<div class="add-to-cart">
											<a href="/goodsDetail?id=<%=heatGoods[i].id%>">查看详情+</a>
										</div>
									</div>
								</div>
							</div>
							<!--Single Product End-->
						</div>
						<% } %>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Product Area End-->
		<!--Banner Area Start-->
		<div class="banner-area pt-105">
		    <div class="container-fluid pl-50 pr-50">
		        <div class="row">
					<% for(let i=0,data=websiteInfo[0].sales.split(','),len=data.length;i<len;i++){ %>
		            <div class="col-md-4">
		                <div class="single-banner mb-35">
		                    <div class="banner-img">
		                        <a href="#">
		                            <img src="<%=websiteInfo[0].sales.split(',')[i]%>" alt="">
		                        </a>
		                    </div>
		                </div>
		            </div>
					<% } %>
		        </div>
		    </div>
		</div>
		<!--Banner Area End-->
		<!--Testimonial Area Start-->
		<div class="testimonial-area mt-75">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>News hotspots</span>
		                    <h3>新闻热点</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row testimonial-active owl-carousel">
					<% for(let i=0,len=newsQuery.length;i<len;i++){ %>
		            <div class="col-12">
		                <!--Single Testimonial Start-->
		                <div class="single-testimonial text-center">
                            <div class="testimonial-content">
                                <p><a href="/newsDetail?id=<%=newsQuery[i].id%>"><%=newsQuery[i].title%></a></p>
                                <div class="testimonial-author">
                                    <h6><a href="/news?page=1&sid=<%=newsQuery[i].sid%>"><%=newsQuery[i].sname%></a> <span><%=newsQuery[i].time%></span></h6>
                                </div>
                            </div>
                        </div>
		                <!--Single Testimonial End-->
		            </div>
					<% } %>
		        </div>
		    </div>
		</div>
		<!--Testimonial Area End-->
		<!--Blog Area Start-->
		<div class="blog-area ml-50 mr-50 mt-105">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>Hot case</span>
		                    <h3>热门案例</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
                    <div class="blog-slider-active">
						<% for(let i=0,len=heatCase.length;i<len;i++){ %>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="/goodsDetail?id=<%=heatCase[i].id%>">
                                        <img src="<%=heatCase[i].goods_pic.split(',')[0]%>" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date"><%=heatCase[i].time%></div>
                                    <h3 class="post-title"><a href="/goodsDetail?id=<%=heatCase[i].id%>"><%=heatCase[i].goods_name%></a></h3>
                                    <p class="post-description"></p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
						<!--Single Blog End-->
						<% } %>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Blog Area End-->
		<!--News Letter Area Start-->
		<div class="news-letter-area mt-120 mb-120">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="news-latter-box">
		                    <p>高品质空气能安装，请输入手机号码，免费咨询 一分钟内容回复</p>
		                    <div class="news-letter-form text-center">
		                        <div id="mc-embedded-subscribe-form" class="popup-subscribe-form validate">
                                   <div id="mc_embed_signup_scroll">
                                      <div id="mc-form" class="mc-form subscribe-form" >
                                        <input name="phone" id="mc-email" type="number" autocomplete="off" placeholder="请输入手机号码" />
                                        <button type="button" id="mc-submit">立即咨询 <i class="fa fa-chevron-right"></i></button>
                                      </div>
                                   </div>
                               </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			<div class="alert alert-success" role="alert" id="alertModel" style="width: 100%;height: 86px;line-height: 55px;position: fixed;top: 0;z-index: 9999;display: none;"></div>
		</div>
		<!--News Letter Area End-->
		<% include footer.ejs %>
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="single-product.ejs" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->
	</div>
	<% include script.ejs %>
	<script>
		$(function(){
		    var msg=$('#mc-email'), tip=$('#alertModel'), btn=$('#mc-submit');
            btn.click(function(){
		        if(msg.val()){
                    $.ajax({
                        url: '/common/consult',
                        type: 'POST',
                        data: {
                            phone:msg.val()
                        },
                        dataType: 'JSON',
                        beforeSend: function(){
                            btn.attr({disabled: 'disabled'});
						},
                        success: function(res){
                            tip.text(res.msg);
                            tip.css({'display':'block'});
                            setTimeout(function(){
                                tip.css({'display':'none'});
							},3000)
                        },
                        complete: function () {
                            btn.removeAttr('disabled');
                            msg.val('');
                        }
                    })
				}
			});
		})
	</script>
</body>
</html>

