
<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>


	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
		<% include header.ejs %>
		<!--Blog Area Start-->
		<div class="blog-area white-bg pt-0 pb-0 mb-70">
		    <div class="container">
		        <div class="row">
                    <!--Blog Post Start-->
		            <div class="col-lg-9">
		                <div class="blog_area">
                            <% for(let i=0,len=newsList.dataList.length;i<len;i++){ %>
                            <article class="blog_single" style="text-align: left;">
                                <header class="entry-header">
                                    <h2 class="entry-title" style="font-size: 20px;">
                                        <a href="/newsDetail"><%=newsList.dataList[i].title%></a>
                                    </h2>
                                </header>
                                <!--start comment in post page -->
                                <a class="comment" href="/news?sid=<%=newsList.dataList[i].sid%>" style="display: inline-block;"><%=newsList.dataList[i].sname%></a>
                                <span> | 发布时间：<%=newsList.dataList[i].time%></span>
                                <!--start comment in post page -->
                            </article>
                            <% } %>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!--Pagination Start-->
                                <div class="product-pagination blog-pagenation">
                                    <ul id="jqpaginatorId"></ul>
                                </div>
                                <!--Pagination End-->
                            </div>
                        </div>
		            </div>
		            <!--Blog Post End-->
		            <!--Blog Sidebar Start-->
		            <div class="col-lg-3">
		                <div class="blog_sidebar">
                            <div class="row_products_side">
                                <div class="product_left_sidbar">
                                    <div class="product-filter  mb-35">
                                      <!--<div class="search__sidbar">
                                         <div class="input_form">
                                            <input id="search_input" name="s" class="input_text" type="text" placeholder="按新闻标题关键字搜索">
                                            <button id="blogsearchsubmit" type="submit" class="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                         </div>
                                      </div>-->
                                    </div>
                                    <div class="product-filter  mb-35">
                                      <h5>新闻分类 </h5>
                                        <div class="blog_Archives__sidbar">
                                            <ul>
                                                <li><a href="/news">全部分类</a></li>
                                                <% for(let i=0,len=classify.length;i<len;i++){ %>
                                                <li><a href="/news?sid=<%=classify[i].id%>"><%=classify[i].sname%></a></li>
                                                <% } %>
                                            </ul>
                                      </div>
                                    </div>
                                    <!--<div class="product-filter mb-35">
                                        <h5>关键词</h5>
                                       <div class="product-tag blog-tag">
                                            <ul>
                                                <li><a href="#">brand</a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
		            </div>
		            <!--Blog Sidebar End-->
		        </div>
		    </div>
		</div>
		<!--Blog Area End-->
		<% include footer.ejs %>
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="single-product.ejs" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->
    </div>
    <% include script.ejs %>
    <script src="/layout/js/jqpaginator.min.js"></script>
    <style>
        .first a,.prev a,.next a,.last a{width: 64px !important;}
        .active a{cursor: text}
        .active a:hover{color: #ffffff !important;}
    </style>
    <script>
        $('#jqpaginatorId').jqPaginator({
            totalPages: parseInt('<%=newsList.totalPage%>'),
            totalCounts: parseInt('<%=newsList.totalRows%>'),
            visiblePages: 5,
            currentPage: parseInt('<%=newsList.page%>'),
            activeClass: 'active',
            disableClass: 'active',

            first: '<li class="first"><a href="/news">首页</a></li>',
            prev: '<li class="prev""><a href="/news?page={{page}}">上一页</a></li>',
            next: '<li class="next"><a href="/news?page={{page}}">下一页</a></li>',
            last: '<li class="last"><a href="/news?page={{totalPages}}">尾页</a></li>',
            page: '<li class="page"><a href="/news?page={{page}}">{{page}}</a></li>',
            onPageChange: function (num) {
                // $('#text').html('当前第' + num + '页');
                $('.active a').removeAttr('href');
            }
        });
    </script>
</body>
</html>
