<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>



	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
        <% include header.ejs %>
		<!--Shop Area Start-->
		<div class="shop-area mb-70">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-3 order-2 order-lg-1">
		                <!--Color Category Widget Start-->
                        <div class="shop-sidebar"></div>
		                <!--Recent Product Widget Start-->
		                <div class="shop-sidebar">
		                    <h4>热门推荐</h4>
		                    <div class="rc-product">
		                        <ul>
                                    <% for(let i=0,len=hotGoods.length;i<len;i++){ %>
		                            <li>
		                                <div class="rc-product-thumb img-full">
		                                    <a href="/goodsDetail?id=<%=hotGoods[i].id%>"><img src="<%=hotGoods[i].goods_pic.split(',')[0]%>" alt=""></a>
		                                </div>
		                                <div class="rc-product-content">
		                                    <h6><a href="/goodsDetail?id=<%=hotGoods[i].id%>"><%=hotGoods[i].goods_name%></a></h6>
		                                    <div class="rc-product-price">
                                                <a href="/goodsDetail?id=<%=hotGoods[i].id%>"><span class="">+详情</span></a>
                                            </div>
		                                </div>
		                            </li>
                                    <% } %>
		                        </ul>
		                    </div>
		                </div>
		                <!--Recent Product Widget End-->
		            </div>
		            <div class="col-lg-9 order-1 order-lg-2">
		                <div class="shop-layout">
                           <!--Breadcrumb One Start-->
                            <div class="breadcrumb-one mb-120">
                                <div class="breadcrumb-img">
                                    <img src="/layout/img/page-banner/shop-banner-1.jpg" alt="">
                                </div>
                                <div class="breadcrumb-content">
                                    <ul>
                                        <li><a href="/">主页</a></li>
                                        <% if(signId==='goods'){ %>
                                        <li class="active">商品</li>
                                        <% }else{ %>
                                        <li class="active">案例</li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                           <!--Breadcrumb One End-->
		                    <!--Grid & List View Start-->
		                    <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
		                        <div class="grid-list-option">
		                             <ul class="nav">
                                         <li><a class="active" data-toggle="tab" href="#list"><i class="fa fa-th-list"></i></a></li>
                                         <!--<li><a data-toggle="tab" href="#grid"><i class="fa fa-th-large"></i></a></li>-->
                                    </ul>
		                         </div>
		                         <!--Toolbar Short Area Start-->
		                         <div class="toolbar-short-area d-md-flex align-items-center">
                                     <div class="toolbar-shorter ">
                                        <label>类别选择：</label>
                                         <select class="wide" onchange="javascript:location.href=this.value;" id="wideSelect">
                                             <% if(signId==='goods'){ %>
                                                 <option value="/goods">全部类别</option>
                                                 <% for(let i=0,len=classify.length;i<len;i++){ %>
                                                 <option value="/goods?page=1&sid=<%=classify[i].id%>"><%=classify[i].sname%></option>
                                                 <% } %>
                                             <% }else {%>
                                                 <option value="/product">全部类别</option>
                                                 <% for(let i=0,len=classify.length;i<len;i++){ %>
                                                 <option value="/product?page=1&sid=<%=classify[i].id%>"><%=classify[i].sname%></option>
                                                 <% } %>
                                             <% } %>
                                         </select>
                                     </div>
                                 </div>
		                         <!--Toolbar Short Area End-->
		                    </div>
		                    <!--Grid & List View End-->
		                    <!--Shop Product Start-->
		                    <div class="shop-product">
		                        <div id="myTabContent-2" class="tab-content">
                                    <div id="list" class="tab-pane fade show active">
                                        <div class="product-list-view">
                                            <% for(let i=0,len=goodsList.dataList.length;i<len;i++){ %>
                                            <div class="product-list-item mb-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="single-product">
                                                            <div class="product-img img-full">
                                                                <a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>">
                                                                    <img src="<%=goodsList.dataList[i].goods_pic.split(',')[0]%>" alt="">
                                                                </a>
                                                                <% if(goodsList.dataList[i].nice){ %>
                                                                <span class="onsale">hot</span>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="product-content shop-list">
                                                            <h2><a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>"><%=goodsList.dataList[i].goods_name%></a></h2>
                                                            <div class="product-description">
                                                                <p><%=goodsList.dataList[i].goods_point%></p>
                                                            </div>
                                                            <div class="product-price">
                                                                <div class="price-box">
                                                                    <span class="regular-price">类别：
                                                                        <% if(signId==='shop'){ %>
                                                                            <a href="/goods?page=1&sid=<%=goodsList.dataList[i].sid%>" style="color:#a43d21;"><%=goodsList.dataList[i].sname%></a>
                                                                        <% }else { %>
                                                                            <a href="/product?page=1&sid=<%=goodsList.dataList[i].sid%>" style="color:#a43d21;"><%=goodsList.dataList[i].sname%></a>
                                                                        <% } %>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="product-list-action">
                                                                <div class="add-btn">
                                                                    <a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>">+查看详情</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div id="info" style="display: none">当前类目下暂无数据！</div>
		                            <div id="grid" class="tab-pane fade">
		                                <div class="product-grid-view">
		                                    <div class="row">
                                                <% for(let i=0,len=goodsList.dataList.length;i<len;i++){ %>
		                                        <div class="col-md-4">
                                                    <div class="single-product mb-25">
                                                        <div class="product-img img-full">
                                                            <a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>">
                                                                <img src="<%=goodsList.dataList[i].goods_pic.split(',')[0]%>" alt="">
                                                            </a>
                                                            <% if(goodsList.dataList[i].nice){ %>
                                                            <span class="onsale">hot</span>
                                                            <% } %>
                                                        </div>
                                                        <div class="product-content">
                                                            <h2><a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>"><%=goodsList.dataList[i].goods_name%></a></h2>
                                                            <div class="product-price">
                                                                <div class="price-box">
                                                                    <span class="regular-price"><%=goodsList.dataList[i].sname%></span>
                                                                </div>
                                                                <div class="add-to-cart">
                                                                    <a href="/goodsDetail?id=<%=goodsList.dataList[i].id%>">+查看详情</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
		                                        </div>
                                                <% } %>
		                                    </div>
		                                </div>
		                            </div>
		                            <!--Pagination Start-->
		                            <div class="product-pagination">
		                                <ul id="jqpaginatorId"></ul>
		                            </div>
		                            <!--Pagination End-->
		                        </div>
		                    </div>
		                    <!--Shop Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Shop Area End-->
        <% include footer.ejs %>
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="/goodsDetail" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->
	</div>
    <% include script.ejs %>
    <script src="/layout/js/jqpaginator.min.js"></script>
    <style>
        .first a,.prev a,.next a,.last a{width: 64px !important;}
        .actives a{cursor: text}
        .actives a:hover{color: #ffffff !important;}
    </style>
    <script>
        var signId='<%=signId%>', sid='', hrefId='';
        location.href.search('sid')>-1?sid=location.href.split('sid')[1].split('=')[1]:sid='';

        // 设置跳转地址
        signId==='goods'?hrefId='/goods':hrefId='/product';

        console.log(hrefId)

        // 分页及参数设置
        try {
            $('#jqpaginatorId').jqPaginator({
                totalPages: parseInt('<%=goodsList.totalPage%>'),
                totalCounts: parseInt('<%=goodsList.totalRows%>'),
                visiblePages: 5,
                currentPage: parseInt('<%=goodsList.page%>'),
                activeClass: 'actives',
                disableClass: 'actives',

                first: '<li class="first"><a href='+hrefId+'"?page=1&sid='+sid+'">首页</a></li>',
                prev: '<li class="prev""><a href='+hrefId+'"?page={{page}}&sid='+sid+'">上一页</a></li>',
                next: '<li class="next"><a href='+hrefId+'"?page={{page}}&sid='+sid+'">下一页</a></li>',
                last: '<li class="last"><a href='+hrefId+'"?page={{totalPages}}&sid='+sid+'">尾页</a></li>',
                page: '<li class="page"><a href='+hrefId+'"?page={{page}}&sid='+sid+'">{{page}}</a></li>',
                onPageChange: function (num) {
                    // $('#text').html('当前第' + num + '页');
                    $('.actives a').removeAttr('href');
                }
            });
        }catch (e) {
            $('#info').css({'display':'block'})
        }
        // 类别默认选中设置
        if(sid){
            var item=$('.list li[data-value="'+hrefId+'?page=1&sid='+sid+'"]');
            $('#wideSelect option[value="'+hrefId+'?page=1&sid='+sid+'"]').attr('selected',true);
            item.addClass('selected').siblings('li').removeClass('selected');
            $('.nice-select .current').text(item.text());
        }else{
            var itemIndex=$('.list li[data-value="'+hrefId+'"]');
            $('#wideSelect option[value="'+hrefId+'"]').attr('selected',true);
            itemIndex.addClass('selected').siblings('li').removeClass('selected');
            $('.nice-select .current').text(itemIndex.text());
        }
    </script>
</body>
</html>

