<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>


	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
		<% include header.ejs %>
		<!--Breadcrumb One Start-->
		<div class="breadcrumb-one mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-img">
                            <img src="/layout/img/page-banner/product-banner.jpg" alt="">
                        </div>
                        <div class="breadcrumb-content">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active">Single Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--Breadcrumb One End-->
		<!--Single Product Area Start-->
		<div class="single-product-area mb-115">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-lg-5">
		                <div class="product-details-img-tab">
		                    <!--Product Tab Content Start-->
		                    <div class="tab-content single-product-img">
								<% let pics = goodsDetail.goods_pic.split(',') %>
								<% for(let i=0,len=pics.length;i<len;i++){ %>
								<% if(i===0){ %>
								  <div class="tab-pane fade show active" id="product<%=i%>">
									  <div class="product-large-thumb img-full">
										 <div class="easyzoom easyzoom--overlay">
											<a href="<%=pics[i]%>">
												<img src="<%=pics[i]%>" alt="">
											</a>
											<a href="<%=pics[i]%>" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
										 </div>
									  </div>
								  </div>
								<% }else { %>
									<div class="tab-pane fade" id="product<%=i%>">
										<div class="product-large-thumb img-full">
											<div class="easyzoom easyzoom--overlay">
												<a href="<%=pics[i]%>">
													<img src="<%=pics[i]%>" alt="">
												</a>
												<a href="<%=pics[i]%>" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
											</div>
										</div>
									</div>
								<% } %>
								<% } %>
                            </div>
		                    <!--Product Tab Content End-->
		                    <!--Product Tab Menu Start-->
		                    <div class="product-menu">
		                        <div class="nav product-tab-menu">
									<% for(let i=0,len=pics.length;i<len;i++){ %>
									<% if(i===0){ %>
                                  <div class="product-details-img">
                                    <a class="active" data-toggle="tab" href="#product<%=i%>"><img src="<%=pics[i]%>" alt=""></a>
                                  </div>
									<% }else { %>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product<%=i%>"><img src="<%=pics[i]%>" alt=""></a>
                                  </div>
									<% } %>
									<% } %>
                                </div>
		                    </div>
		                    <!--Product Tab Menu End-->
		                </div>
		            </div>
		            <div class="col-md-12 col-lg-7">
                        <!--Product Details Content Start-->
		                <div class="product-details-content">
		                    <h2><%=goodsDetail.goods_name%></h2>
                            <div class="product-description">
                                <p><%=goodsDetail.goods_point%></p>
                            </div>
                            <p class="stock in-stock">等级：
								<% if(goodsDetail.nice){ %>
								<span> 热卖产品</span>
								<% }else{ %>
								<span> 非热卖产品</span>
								<% } %>
							</p>
							<div class="product-meta">
								<span class="posted-in">类别:
									<a href="/goods?page=1&sid=<%=goodsDetail.sid%>"><%=goodsDetail.sname%></a>
								</span>
							</div>
                            <div class="wishlist-compare-btn">
                                <button class="btn btn-danger" data-toggle="modal" data-target=".companyModel">联系我们</button>
                            </div>
		                </div>
		                <!--Product Details Content End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Single Product Area End-->
		<!--Product Description Review Area Start-->
		<div class="product-description-review-area mb-100">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="product-review-tab">
		                    <!--Review And Description Tab Menu Start-->
		                    <ul class="nav dec-and-review-menu">
                              <li>
                                <a class="active" data-toggle="tab" href="#description">商品描述</a>
                              </li>
                            </ul>
		                    <!--Review And Description Tab Menu End-->
		                    <!--Review And Description Tab Content Start-->
		                    <div class="tab-content product-review-content-tab" id="myTabContent-4">
                              <div class="tab-pane fade active show" id="description">
                                  <div class="single-product-description">
									  <%-goodsDetail.goods_summary%>
                                  </div>
                              </div>
                            </div>
		                    <!--Review And Description Tab Content End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Product Description Review Area Start-->
		<!--Also Like Product Start-->
		<div class="also-like-product">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
                    <div class="col-12">
                        <div class="section-title text-center mb-35">
                            <h3>热门商品推荐</h3>
                        </div>
                    </div>
                    <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
						<% for(let i=0,len=hotGoods.length;i<len;i++){ %>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="/goodsDetail?id=<%=hotGoods[i].id%>">
		                                <img src="<%=hotGoods[i].goods_pic.split(',')[0]%>" alt="">
		                            </a>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="/goodsDetail?id=<%=hotGoods[i].id%>"><%=hotGoods[i].goods_name%></a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">hot goods</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="/goodsDetail?id=<%=hotGoods[i].id%>">+查看详情</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
						<% } %>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Also Like Product End-->
		<!--Related Product Start-->
		<div class="Related-product mt-105 mb-100">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
                    <div class="col-12">
                        <div class="section-title text-center mb-35">
                            <h3>热门案例推荐</h3>
                        </div>
                    </div>
                    <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
						<% for(let i=0,len=hotCase.length;i<len;i++){ %>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="/goodsDetail?id=<%=hotCase[i].id%>">
										<img src="<%=hotCase[i].goods_pic.split(',')[0]%>" alt="">
		                            </a>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="/goodsDetail?id=<%=hotCase[i].id%>"><%=hotCase[i].goods_name%></a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">hot case</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="/goodsDetail?id=<%=hotCase[i].id%>">+查看详情</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
						<% } %>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Related Product End-->
		<% include footer.ejs %>
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="single-product.ejs" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->

		<!-- 联系我们 -->
		<div class="modal fade companyModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header"></div>
					<div class="modal-body">
						<div class="tab-content">
							<div class="tab-pane active">
								<style>.list-unstyled p{display: inline-block;margin-left: 10px;}.list-unstyled a{color: #a43d21}</style>
								<ul class="list-unstyled activity-timeline">
									<li>
										<i class="lnr lnr-apartment activity-icon"></i>
										<p class="AddressId"></p>
									</li>
									<li>
										<i class="lnr lnr-phone activity-icon"></i>
										<a href="" class="PhoneIdLink"><p class="PhoneId"></p></a>
									</li>
									<li>
										<i class="lnr lnr-link activity-icon"></i>
										<p class="EmailId"></p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-xs btn-primary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <% include script.ejs %>
</body>
</html>

